body {
  background-color: rgb(174, 185, 174);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(20, 24, 20);
  color: white;
  text-align: center;
}

.sassy-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: rgb(218, 225, 218);
}

.sassy {
  width: 300px;
  height: 150px;
  margin-bottom: 20px;
  border: 3px solid rgb(20, 24, 20);
  border-radius: 10px;

}

.somewhat-sassy {
  border: 1px solid black;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.less-sassy {
  border: 1px solid black;
  border-radius: 7px;
  padding: 20px;
}

.contactForm {
  border-radius: 5px;
  border: 2px solid rgb(20, 24, 20);
  margin: 7px;
  padding: 3px;
}

.port-img {
  max-width: 400px;
  max-height: 400px;
  border: 2px solid rgb(20, 24, 20);
  border-radius: 10px;
  margin: 20px;
}

.resume {
  border: 2px solid black;
  border-radius: 7px;
  margin-top: 20px;
}